{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Income</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Income
          </li>
          <li class="breadcrumb-item ml-auto">
            <a href="{% url 'add-income'%}" class="btn btn-primary">Add Income</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

   <div class="container">
    {% include 'partials/_messages.html' %}

    {% if income.count %}

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">

        <div class="form-group">
          <input type="text" class="form-control" id="searchField" placeholder="Search">
        </div>
      </div>
     </div>
<div class="app-table">
  <div class="table-responsive">
    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Amount ({{currency}})</th>
          <th>Source</th>
          <th>Description</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        {% for income in page_obj%}
        <tr>
          <td>{{income.amount}}</td>
          <td>{{income.source}}</td>
          <td>{{income.description}}</td>
          <td>{{income.date}}</td>
  
          <td>
            <a
              href="{% url 'income-edit' income.id  %}"
              class="btn btn-secondary btn-sm"
              >Edit</a
            >
          </td>
        </tr>
  
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<p class="no-results" style="display: none;">No results </p>
    <div class="table-output">
      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Amount ({{currency}})</th>
            <th>Source</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>

        <tbody  class="table-body">
        </tbody>
      </table>
    </div>




    <div class="pagination-container">
    <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}


      </ul>
    {% endif %}
  </div>
</div>
</div>

<style>
  
</style>

<div id="chartContainer" style="height: 400px; width: 95%;">

</div>
<div id="chartContainerAverage" style="height: 400px; width: 95%;">

</div>

<script>
  var chartData = {{ chart_data | safe }};
  var chartDataAverage = {{ chart_data_average | safe }};

  var averageData = chartDataAverage.series[0].data;
  var categories = chartData.categories;
  var series = chartData.series;

  var highchartSeries = series.map(function (s) {
      return {
          name: s.name,
          data: s.data
      };
  });

  var options = {
      chart: {
          type: 'column',
          backgroundColor: 'transparent',
          borderWidth: 0,
          plotBorderColor: 'rgba(0, 0, 0, 0.2)',
          plotBorderWidth: 1,
         // zoomType: 'x'  

      },
      title: {
          text: 'Income Entries per category'
      },
      xAxis: {
          categories: categories
      },
      yAxis: {
          title: {
              text: 'Income'
          }
      },
      series: highchartSeries
  };
  var optionsAverage = {
    chart: {
        type: 'spline',
        backgroundColor: 'transparent',
        borderWidth: 0,
        plotBorderColor: 'rgba(0, 0, 0, 0.2)',
        plotBorderWidth: 1
    },
    title: {
        text: 'Average Income Amount'
    },
    xAxis: {
        categories: ['Today', 'This Week', 'This Month']
    },
    yAxis: {
        title: {
            text: 'Income'
        }
    },
    series: [{
        name: 'Average',
        data: averageData
    }]
};

  Highcharts.chart('chartContainerAverage', optionsAverage);
  Highcharts.chart('chartContainer', options);
</script>
<script src="{% static 'js/searchIncome.js' %}"></script>

{% endblock content %}
