@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
	font-family: 'Josefin Sans', sans-serif;
}
.primary-btn{
	background-color: #044069;
	color: white;
}
.secondary-btn{
	background-color: #1b89d2;
	color: white;
}
.brand-img{
	width: 100%;
	height: 400px;
}
.background-secondary{
	background-color: #eee;
}
.navbar {
    background-color: #044069!important;
}

.validation_error {
    color: red;
    display: none;
}

.greeting-text{
	margin: 10px;
}
.nav-bar-btns{
	margin-bottom: 0px;
	list-style-type: none;
}

#brand-logo{
	height: 50px;
	filter: brightness(0%) invert(100%);
	margin-left: 10px;
}

.form-wrapper{
	padding: 20px 35px;
}
.logged_user_tag {
	margin-top: 10px;
	margin-right: 15px;
}

.distance{
	margin-bottom: 150px;
}

.form-signin-wrapper {
	color: rgb(73, 73, 73);
}

.form-floating {
    margin: 10px 0;
}


#message {
	display:none;
	position: relative;
	padding: 10px;
}

#message p {
	padding: 0px 35px;
}	
.valid {
	color: green;
}
.valid:before {
	position: relative;
	left: -35px;
	content: "✔";
}
.invalid {
	color: red;
}
.invalid:before {
	position: relative;
	left: -35px;
	content: "✖";
}

.primary-section{
	/* margin-bottom: 200px; */
	height: 65vh;

}
.secondary-section{
	height: 65vh;
}
.heading1 {
	color: #044069;
	font-size: 60px;
	font-weight: 700;
}
.heading2 {
	color: #044069;
	font-size: 32px;
	font-weight: 500;
}




@media (min-width: 576px) {
	.modal-dialog {
		max-width: 600px;
	}
}
