/* html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
} */

.sidebar_container>.row>.col {
    padding: 10px 10px;
}

table>thead {
    text-align: center;
}



div.empty_table {
    background-color: aliceblue;
    height: 500px;
    width: 100%;
    position: relative;
}

div.add_expense_btn_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.custom-add-expense-button {
    background-color: rgb(95, 159, 214);
    padding: 30px 35px;
    font-size: 20px;
}
